
.vs/Dweller-Legacy-Edition/FileContentIndex/5acea66b-6fc2-464c-9ef9-97f24aad9dbb.vsidx
.vs/Dweller-Legacy-Edition/FileContentIndex/62013a45-c1b1-4495-aa2a-ecc1401b9db8.vsidx
.vs/Dweller-Legacy-Edition/FileContentIndex/8eb81975-f714-4b7d-a8d5-1c1fa7f70f6e.vsidx
.vs/Dweller-Legacy-Edition/FileContentIndex/9e3614f9-62ea-49da-8908-51d2b8516ca4.vsidx
.vs/Dweller-Legacy-Edition/FileContentIndex/read.lock
.vs/Dweller-Legacy-Edition/v17/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Dweller.vcxproj.filters
Dweller.vcxproj.user
Dweller.vcxproj
